* {
	font-family: "Noto Sans", sans-serif;
	border: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	max-width: 1024px;
	text-align: center;
	background-color: #000;
	color: hsl(0, 0%, 92%);
	margin: 0 auto;
	width: 100%;
}

body h1 {
	font-size: 38px;
	margin-bottom: 32px;
	line-height: 46px;
	letter-spacing: -1px;
}

/* Estilo comum para todos os botões */
body button {
	cursor: pointer;
	font-size: 1em;
	color: #ffffff;
	padding: 14px 24px;
	border-radius: 12px;
	backface-visibility: hidden;
	border: 1px solid #a30000;
	background-color: #8f0000;
	font-weight: 600;
	transition: background-color 0.3s ease, opacity 0.3s ease;
}

body button:hover {
	background-color: #7a0000;
	opacity: 0.9;
}

body button:active {
	background-color: hsl(0, 100%, 20%);
}

/* Se desejar aplicar cores específicas em botões individuais, use id ou classes */

/* Estilo para o modal e seus botões */
dialog {
	width: 350px;
	padding: 20px;
	border: none;
	border-radius: 8px;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	height: auto;
	max-height: 80%;
	overflow-y: auto;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

/* Estilo dos botões dentro do modal */
dialog button {
	background-color: #007bff;
	color: white;
	font-size: 16px;
	padding: 10px;
	margin-top: 10px;
	border-radius: 4px;
	cursor: pointer;
}

dialog button[type="button"] {
	background-color: #ccc;
}

dialog button:hover {
	opacity: 0.9;
}

/* Estilos do container de usuários */
div#container {
	display: flex;
	margin-top: 24px;
	gap: 12px;
	align-items: center;
	flex-direction: column;
}

div#container p {
	text-align: center;
	width: fit-content;
	font-size: 18px;
}