* {
	font-family: "Noto Sans", sans-serif;
	border: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	max-width: 1024px;
	text-align: center;
	background-color: #000;
	color: hsl(0, 0%, 92%);
	margin: 0 auto;
	width: 100%;
}

body h1 {
	font-size: 38px;
	margin-bottom: 32px;
	line-height: 46px;
	letter-spacing: -1px;
}

body button#logout,
body button#update,
body button#btn {
	cursor: pointer;
	font-size: 1em;
	color: #000000;
	padding: 14px 24px;
	border-radius: 12px;
	backface-visibility: hidden;
	border: 1px solid #a30000;
	background-color: #8f0000;
	font-weight: 600;
	color: #ffffff;
}

body button#logout:hover,
body button#update,
body button#btn:hover {
	background-color: #7a0000;
}

body button#logout:active,
body button#update,
body button#btn:active {
	background-color: hsl(0, 100%, 20%);
}

div#container {
	display: flex;
	margin-top: 24px;
	gap: 12px;
	align-items: center;
	flex-direction: column;
}

div#container p {
	text-align: center;
	width: fit-content;
	font-size: 18px;
}

/* Estilo para o dialog com tamanho de formulário */
dialog {
	width: 350px; /* Largura do formulário */
	padding: 20px;
	border: none;
	border-radius: 8px;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centraliza o dialog na tela */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	height: auto; /* Altura ajustável de acordo com o conteúdo */
	max-height: 80%; /* Evita que o dialog fique muito alto */
	overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo for muito grande */
  }
  
  /* Estilo para o dialog com tamanho de formulário */
dialog {
	width: 350px;
	padding: 20px;
	border: none;
	border-radius: 8px;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	height: auto;
	max-height: 80%;
	overflow-y: auto;
  }
  
  /* Fundo sombreado atrás do dialog */
  dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
  }
  
  /* Estilo dos botões */
  button {
	padding: 10px;
	margin-top: 10px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: #007bff;
	color: white;
	font-size: 16px;
  }
  
  button[type="button"] {
	background-color: #ccc;
  }
  
  button:hover {
	opacity: 0.9;
  }
  